<mat-tab-group #Tabs [(selectedIndex)]="tabIndex">
  <mat-tab label="Таблица уроков">
    <app-lessons
      (editLesson)="onStartEditLesson($event)"
    ></app-lessons>
  </mat-tab>
  <mat-tab label="Таблица оценок">
    <app-student-marks
      (editStudent)="onStartEditingStudent($event)"
    ></app-student-marks>
  </mat-tab>
  <mat-tab [label]="editingLessonId ? 'Редактирование урока' : 'Добавление урока'">
    <app-lesson-edit
      [lessonId]="editingLessonId"
      (finishEdit)="onFinishLessonEditing()"
    ></app-lesson-edit>
  </mat-tab>
  <mat-tab [label]="editingStudentId ? 'Редактирование данных студента' : 'Добавление студента'">
    <app-student-edit
      [studentId]="editingStudentId"
      (finishEdit)="onFinishStudentEditing()"
      ></app-student-edit>
  </mat-tab>
</mat-tab-group>
