<div>
  <div>
    <table mat-table [dataSource]="lessons" class="mainTable" #lessonTable>
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Дата</th>
        <td mat-cell *matCellDef="let element"> {{element.date.toLocaleDateString()}} </td>
      </ng-container>
      <ng-container matColumnDef="theme">
        <th mat-header-cell *matHeaderCellDef> Тема</th>
        <td mat-cell *matCellDef="let element"> {{element.theme}} </td>
      </ng-container>
      <ng-container matColumnDef="homework">
        <th mat-header-cell *matHeaderCellDef> Домашнее задание</th>
        <td mat-cell *matCellDef="let element"> {{element.homework}} </td>
      </ng-container>
      <ng-container matColumnDef="notes">
        <th mat-header-cell *matHeaderCellDef> Примечание</th>
        <td mat-cell *matCellDef="let element"> {{element.notes}} </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="editRow(element.id)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <button mat-flat-button class="add-button" color="primary" (click)="editRow(null)">Добавить урок</button>
  </div>
  <div *ngIf="formVisible" class="form-container">
    <div class="editableForm">
        <mat-form-field class="full-width">
          <mat-label>Дата урока</mat-label>
          <input type="date" matInput placeholder="Введите тему" [(ngModel)]="editingLesson.date">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Тема урока</mat-label>
          <input type="text" matInput placeholder="Введите тему" [(ngModel)]="editingLesson.theme">
        </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Домашнее задание</mat-label>
        <textarea matInput placeholder="Введите задание" [(ngModel)]="editingLesson.homework"></textarea>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Примечание</mat-label>
        <textarea matInput placeholder="Введите заметку" [(ngModel)]="editingLesson.notes"></textarea>
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="afterEdit()">Применить</button>
      <button mat-flat-button color="warn" (click)="deleteLesson(editingLesson.id)">Удалить</button>
      <button mat-flat-button color="basic" (click)="cancelEdit()">Отменить</button>
    </div>
  </div>
</div>
