.editableForm {
  margin: auto;
  min-width: 150px;
  width: 80%;
  padding: 50px;
  margin-top: 50px;
  border-color: #bc896d;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  background-color: #f3f6f8;
}

.full-width {
  width: 100%;
}

.date-width {
  width: 250px;
}

.mat-flat-button {
  margin-right: 20px;
}
